/* MODAL WINDOW */

.modal-open-btn {
    position: fixed;
    top: 10px;
    right: 25%;
    display: flex;
    place-items: center;
    padding-inline: 8px;
    width: auto;
    height: 40px;
    border: none;
    border-radius: 5px;
    color:black;
    background-color: white;
    border: 1px solid black;
    transition: scale 0.3s ease, border-color 0.3s ease;
  }


.backdrop {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 24px;
    border: 1px;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.966);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }


  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }


.modal-container {
    max-width: 360px;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
  }


  .modal-content {
    position: relative;
    margin: 0 auto;
    padding: 32px 16px;
    padding-top: 32px;
    max-width: 320px;
    /* min-height: 300px;
    height: 100%; */
    height: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -0.5px -2.5px 10px 2px grey;
  }
  

  .modal-close-btn {
    position: absolute;
    top:10px;
    right: 5px;

    display: flex;
    /* margin-left: auto; */
    /* margin-bottom: 10px; */
    border: 1px solod black;
    border-radius: 10%;
    cursor: pointer;
    background-color: white;
    color:red;
    transition: fill 0.3s ease, scale 0.3s ease;
  }

  
  .modal-headline {
    font-size: 28px;
    margin-bottom: 1em;
  }
  
  .modal-text {
    font-size: 18px;
    margin-bottom: 1em;
  }


  .modal-item:not(:last-child) {
    margin-bottom: 1em;
  }
  

  .is-scroll {
    overflow-y: hidden;
  } 

  /* .backdrop-item {
    font-size: 20px;
    font-family: var(--font-family-text);
    font-weight: normal;
    text-align: center;
   
  }
  
  .backdrop-item-link {
    transition: uppercase 0.3s ease;
  }
  

  
  .backdrop-item:not(:last-child) {
    margin-bottom: 1em;
  }
  
  .backdrop-list-sections {
    margin-bottom: 3em;
  }
  
  .adress-modal-contacts {
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.6em;
  }
  
  .address-modal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 16px;
  }
  
  .modal-address-list-socials {
    display: flex;
    gap: 6px;
    justify-content: center;
  }
  
  .is-scroll {
    overflow-y: hidden;
  } */