/* BTN SCROLL TO TOP */

.btn-scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    padding: 0;
    min-width: 34px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: black;
    background-color:grey;
    border: 1px solid black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, scale 0.3s ease;
  }
  
  .icon {
    fill: var(--color-general-btn);
  }
  
  .btm-icon-arrow {
    width: 20px;
    height: 20px;
  }
  
  .btn-scroll-to-top.show {
    opacity: 1;
    visibility: visible;
  }