section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container {
  min-width: 320px;
  max-width: 576px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper-custom {
  padding: 0;
}

.section-title {
  text-align: center;
  margin-bottom: 1em;
}

.slider-product-card {
  margin-inline: auto;
  padding: 24px 44px 24px 44px;
  width: 100%;
  border: 1px solid black;
  border-radius: 1rem;
}

.slider-product-title {
    margin-bottom: 1rem;

}

/* custom styling for arrows  */

.swiper-button-next-custom-one,
.swiper-button-prev-custom-one {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
  color: rgb(12, 12, 12);
  background-color: rgba(105, 102, 102, 0.411);
  border: 1px solid black;
  border-radius: 50%;
  /* transform: translateY(-50%); */
}

.swiper-button-next-custom-one {
  right: 1.4%;
}

.swiper-button-prev-custom-one {
  left: 1.4%;
}

.swiper-button-next-custom-one::after,
.swiper-button-prev-custom-one::after {
  font-size: 16px;
}



/* SWIPER TWO */

/* PAGINATION */

/* custon styling for pagination */
/* styling for block of pagination */
.swiper-pagination.swiper-pagination-custom-two {
    position: absolute;
    top: 10px;
    height: auto;
}

/* styling for bullets */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: grey;
}




@media only screen and (min-width: 576px) {
  .container {
    max-width: 576px;
    padding-inline: 15px;
    margin-inline: auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
 
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}


.container-four{
    position: relative;
}

.swiper-button-prev-custom-four,
.swiper-button-next-custom-four {
    position: absolute;
    top: 120%;
    width: 32px;
    height: 32px;
    color: rgb(12, 12, 12);
    background-color: rgba(105, 102, 102, 0.411);
    border: 1px solid black;
    border-radius: 25%;
    /* transform: translateY(-50%); */
}

.swiper-button-next-custom-four::after,
.swiper-button-prev-custom-four::after {
  font-size: 16px;
}

.swiper-button-next.swiper-button-next-custom-four {
    right: 5%;
  }
  
  .swiper-button-prev.swiper-button-prev-custom-four {
    left: 80%
  }